section.popular_publications
	.section_in
		.popular_publications_wrap
			.popular_publications_header
				h3.popular_publications_title popular publications
				button.popular_publications_btn view all

			+popular_publications([
				{ href: '#', img: 'popular_publications_1', img_mob: 'popular_publications_1'},
				{ href: '#', img: 'popular_publications_2', img_mob: 'popular_publications_2'},
				{ href: '#', img: 'popular_publications_3', img_mob: 'popular_publications_3'},
				{ href: '#', img: 'popular_publications_4', img_mob: 'popular_publications_4'},
				{ href: '#', img: 'popular_publications_1', img_mob: 'popular_publications_1'},
				{ href: '#', img: 'popular_publications_2', img_mob: 'popular_publications_2'},
				{ href: '#', img: 'popular_publications_3', img_mob: 'popular_publications_3'},
				{ href: '#', img: 'popular_publications_4', img_mob: 'popular_publications_4'},
				{ href: '#', img: 'popular_publications_1', img_mob: 'popular_publications_1'},
			])


