section.section.publications
	.section_in.publications_wrapper
		.publications__header
			h3.publications__title popular publications
			button.publications__btn view all

		+publications([
			{ href: '#', img: 'popular_publications_1'},
			{ href: '#', img: 'popular_publications_2'},
			{ href: '#', img: 'popular_publications_3'},
			{ href: '#', img: 'popular_publications_4'},
			{ href: '#', img: 'slider_img_1'},
			{ href: '#', img: 'slider_img_1_collaps'},
			{ href: '#', img: 'popular_publications_3'},
			{ href: '#', img: 'popular_publications_4'},
			{ href: '#', img: 'popular_publications_1'},
		])


