section.recommended_resources_section
	.section_in
		h3.recommended_resources_title recommended resources
		
		+resources([
			{title: ['Core', 'epidemiology', 'slides'], accent_num: 2, subtitle: 'July 2020'},
			{title: ['Seizing', 'the moment'], accent_num: 1, subtitle: 'Global AIDS update 2020'},
			{title: ['Global', 'HIV & AIDS', 'statistics'], accent_num: 2, subtitle: '2020 Fact sheet'},
			{title: ['HIV epidemological', 'estimates spreadsheet'], accent_num: 1, subtitle: '1990 - 2019 with uncertainty bounds'},
			{title: ['Core', 'epidemiology', 'slides'], accent_num: 2, subtitle: 'July 2020'},
			{title: ['Seizing', 'the moment'], accent_num: 1, subtitle: 'Global AIDS update 2020'},
			{title: ['Global', 'HIV & AIDS', 'statistics'], accent_num: 2, subtitle: '2020 Fact sheet'},
		])