section.section.resources
	.section_in
		h3.resources__title recommended resources
		
		+resources([
			{title: 'Core <span>epidemiology</span> slides', subtitle: 'July 2020'},
			{title: '<span>Seizing</span> the moment', subtitle: 'Global AIDS update 2020'},
			{title: 'Global Global Global <span>HIV & AIDS</span> statistics', subtitle: '2020 Fact sheet'},
			{title: '<span>HIV epidemological</span> estimates spreadsheet', subtitle: '1990 - 2019 with uncertainty bounds'},
			{title: 'Core <span>epidemiology</span> slides', subtitle: 'July 2020'},
			{title: '<span>Seizing</span> the moment', subtitle: 'Global AIDS update 2020'},
			{title: 'Global <span>HIV & AIDS</span> statistics', subtitle: '2020 Fact sheet'},
		])