mixin header_mobile({ nav, menu, language })
	header.header_mobile
		.section_in
			.header_mobile_wrap
				.header_top_line
				a.header_mobile_logo(href= "#"): +icon('logo')
				.header_mobile_search_w
					input.header_mobile_search_input(type= 'search' placeholder= 'search on site')
					button.header_mobile_search_btn: +icon('search')

				.menu_trigger.menuTrigger
					span.menu_trigger_decor

		//- popap menu
		.header_mobile_popap_menu
			nav.header_mobile_nav
				+menu({
					gl_mod: 'animate_mod wow animate__fadeInLeft',
					gl_class: 'header_mobile_nav', 
					items: nav,
				})

			.heder_mobile_menu
				+menu({ 
					gl_class: 'heder_mobile_menu', 
					items: menu,
				})

			.header_mobile_language
				+select_language({ gl_class: 'header_language', language })
