mixin publications(array, add_class)
	- add_class = add_class || ''
	ul.publications__list 
		each item in array
			li.publications__item 
				a.publications__link(href=`${item.href}`)
					+picture({
						typeJpeg: false,
						png: false,
						is2x: false,
						contain: true,
						class: 'publications__image_wrapper',
						img: `${item.img}`
					})

		