mixin popular_publications(array, add_class)
	- add_class = add_class || ''
	ul.popular_publications_list 
		each item in array
			li.popular_publications_item 
				a.popular_publications_link(href=`${item.href}`)
					+picture({
						typeJpeg: false,
						png: false,
						media: 768,
						is2x: false,
						contain: true,
						class: 'bg_link',
						img: `${item.img}`,
						img_mob: `${item.img_mob}`
					})

		