mixin resources(array)
	ul.resources__list
		each item in array
			li.resources__item 
				a(href='#').resources__item_link
					
					.resources__item_text_wrap
						.resources__item_title!= item.title
						.resources__item_subtitle= item.subtitle
					
					.resources__item_icon_w
						+icon('arrow_2', 'icon--size_mod')