mixin slider(data)
	section.section.slider
		.slider__header
			.section_in
				.slider__title= data.title
				.slider__description= data.description

		ul.slider__list
			each item, index in data.items
				li(class= `slider_item`)
					+picture({
						typeJpeg: false,
						png: false,
						is2x: false,
						contain: true,
						class: 'slicer_item__picture_bg_w',
						img: item.bg,
					})
					.slider_item__text_w
						.slider_item__title= item.title
						.slider_item__description= item.descr
						a(href='#').slider_item__link
							.slider_item__icon_w
								+icon('arrow_2', 'icon--size_mod')


