mixin search(array)
	ul.search_popular__list
		each item in array		
			li.search_popular__item
				.search_popular__arrow_w
					+icon('arrow_2', 'icon--size_mod')
				.search_popular__text= item.text
				.search_popular__region= item.region