//- Header
include mixins/_m_header_desctop
include mixins/_m_header_mobile
include mixins/_m_select_language
include mixins/_m_popular_search

include mixins/_m_popular_publications

include mixins/_m_footer

include mixins/_m_slider
