//------------------------------------------------------------top
.header_desctop .header_top {
	position: relative;

	display: flex;
	align-items: center;

	width: 100%;
	height: $width_top_header;

	padding: 0 var(--gl-indent);

	background: $color_bg_header;
	border-bottom: 1px solid $color_black_opacity_10;

	.content_wrap {
		display: flex;
	}

	.header_logo_w {
		width: fit-content;
	}

	.header_logo {
		margin-bottom: .88rem;
		display: block;
	}

	.icon_logo {
		width: 11.3rem;
		height: 2.2rem;
	}

	.header_logo__descriptor {
		font-family: 'AvenirBook', sans-serif;
		font-size: 1.1rem;
		letter-spacing: .09rem;
		color: $color_text_2;
	}

	.header_menu {
		margin-left: auto;
		height: 100%;

		text-transform: uppercase;
		letter-spacing: 0.136rem;
		color: $color_text_2;
	}

	.header_menu__list {
		display: flex;
		height: 100%;
    margin-right: 5.4rem;
	}

	.header_menu__item {
		width: max-content;
		height: 100%;

    margin-right: 5.4rem;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			opacity: .5;
		}
	}

	.header_menu__link {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 8rem;
	}
}
//------------------------------------------------------------top###

//------------------------------------------------------------header bottom
.header_desctop .header_bottom {
	width: 100%;
	height: 5rem;

	padding: 0 var(--gl-indent);

	color: $color_text_base;
	background: $color_bg_header;

	.header_nav__list  {
		display: flex;
		width: 100%;
    height: 100%;
		font-family: 'Avenir', sans-serif;
		font-weight: 400;
		font-size: 1.3rem;
		letter-spacing: .136rem;
		text-transform: uppercase;
		color: $color_text_base;
	}

	.header_nav__item  {
		line-height: 5rem;
		margin-right: 6.8rem;

		&:hover {
			opacity: .5;
		}
	}
}
//------------------------------------------------------------header bottom###
