$gap_public_item: 2rem;
$count_public_item: 4;

// MIXIN
@mixin bp_item_public($point, $count_item) {
	@include bp($point) {
		width: calc((100% - $gap_public_item * ($count_item - 1)) / $count_item) !important;

		@include each(1) {
			margin-right: $gap_public_item !important;
		}

		@include each($count_item) {
			margin-right: 0 !important;
		}
	}
}

// STYLES
.popular_publications {
	position: relative;
	z-index: 2;

	margin-bottom: calc(10rem - $gap_public_item);

	&::before {
		position: absolute;
		top: -2px;
		left: 0;
		z-index: 1;

		content: '';
		width: 100%;
		height: 60%;

		background: $color_bg_1;
	}

	@include bp($point_3) {
		margin-bottom: calc(9rem - $gap_public_item);
	}
}

.popular_publications_wrap {
	position: relative;
	z-index: 2;

	padding: 0 var(--gl-indent);
}

.popular_publications_header {
	display: flex;

	padding-top: 4rem;
	padding-bottom: 3.4rem;
}

.popular_publications_title {
	font-size: 2.4rem;
	line-height: 2.6rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
}

.popular_publications_list {
	display: flex;
	flex-wrap: wrap;
}

.popular_publications_item {
	width: calc((100% - $gap_public_item * ($count_public_item - 1)) / $count_public_item);
	height: auto;

	margin-right: $gap_public_item;
	margin-bottom: $gap_public_item;

	@include each($count_public_item) { margin-right: 0;}
	@include bp_item_public($point_3, 3);
	@include bp_item_public($point_4, 2);
	@include bp_item_public($point_6, 1);
}

.popular_publications_link,
.bg_link {
	display: block;

	width: 100%;
	height: 100%;
}

.popular_publications_link .contain_img {
	width: 100%;
	height: auto;
}