// STYLES
.publications {
	padding: 0 1rem;

	&::before {
		position: absolute;
		top: 0;
		left: 0;

		content: '';
		width: 100%;
		height: 60%;

		background: $light_grey;
	}

	@include bp($point_2, min) {
		margin-bottom: 10rem;
	}

	@include bp($point_3) {
		margin-bottom: 9rem;
	}
}

.publications_wrapper {
	position: relative;
	z-index: 2;
}

.publications__header {
	display: flex;
}

.publications__title {
	@extend %font_title_s;

	margin-top: 4rem;
	margin-bottom: 3.4rem;
	
	line-height: 2.6rem;

	@include bp($point_4, min) {
		font-size: 2.4rem;
	}
	
	@include bp($point_4) {
		font-size: 1.6rem;
	}
}

.publications__list {
	display: flex;
	flex-wrap: wrap;

	margin: -1rem;
}

.publications__item {
	height: auto;
	padding: 1rem;
	
	@include bp($point_2, min) {
		width: calc(100% / 4);
	}

	@include bp($point_3) {
		@include bp($point_4, min) {
			width: calc(100% / 3);
		}
	}

	@include bp($point_4) {
		@include bp($point_8, min) {
			width: calc(100% / 2);
		}
	}
	
	@include bp($point_8) {
		width: 100%;
	}
}

.publications__link {
	@extend %transition_transform;
	
	position: relative;
	
	display: block;
	
	width: 100%;
	height: 100%;
	
	$picture_size_ratio: 30.6rem / 43rem;
	padding-top: calc(100% / $picture_size_ratio);

	&:hover {
		transform: scale(1.06);
	}
}

.publications__image_wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	
	width: 100%;
	height: 100%;
}

.publications__link .contain_img,
.publications__link .cover_img {
	width: 100%;
}
