.resources {
	margin-bottom: 1rem;
	padding: 0 1rem;

	background-color: $white;
}

.resources__title {
	@extend %font_title_s;
	
	margin-bottom: 4rem;

	line-height: 2.6rem;

	@include bp($point_4, min) {
		font-size: 2.4rem;
	}
	
	@include bp($point_4) {
		font-size: 1.6rem;
	}
}

.resources__list {
	display: flex;
	flex-wrap: wrap;

	margin-left: -4rem;
	margin-right: -4rem;
}

.resources__item {
	min-height: 9.5rem;

	padding-left: 4rem;
	padding-right: 4rem;

	@include bp($point_2, min) {
		width: calc(100% / 2);
		margin-bottom: 3.3rem;

		&:not(:nth-last-child(-n + 2))  {
			border-bottom: 1px solid $color_light_grey;
		}
	}

	@include bp($point_3) {
		width: 100%;
		border-bottom: 1px solid $color_light_grey;

		&:not(:last-child)  {
			margin-bottom: 3.3rem;
		}

		&:last-child {
			margin-bottom: 4rem;
		}
	}
}

.resources__item_link {
	@extend %transition_all;

	display: flex;

	width: 100%;
	height: 100%;

	&:hover {
		@extend %transition_all;

		opacity: .5;

		.resources__item_icon_w {
			animation-name: move_arrow;
			animation-duration: 2s;
		}
	}

	@keyframes move_arrow {
		0% {
			opacity: 0;
			transform: translate(-2rem, 0);
		}

		100% {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}

.resources__item_text_wrap {
	margin-right: 2rem;

	@include bp($point_4) {
		margin-right: 0;
	}
}

.resources__item_title {
	@extend %font_avenir_light;

	line-height: 2.8rem;

	margin-bottom: .6rem;

	color: $black;

	span {
		color: $color_accent;
	}

	@include bp($point_4, min) {
		font-size: 2.8rem;
	}

	@include bp($point_4) {
		font-size: 2rem;
	}
}

.resources__item_subtitle {
	@extend %font_avenir_roman;

	margin-bottom: 3.3rem;
	
	line-height: 2.3rem;

	color: $color_text_base;

	@include bp($point_4, min) {
		font-size: 1.5rem;
	}

	@include bp($point_4) {
		font-size: 1.2rem;
	}
}

.resources__item_icon_w {
	width: 1.8rem;
	height: 1rem;

	margin-left: auto;
	margin-top: 2.2rem;

	.icon_arrow_2 {
		fill: $color_accent;
	}

	@include bp($point_3) {
		display: none;
	}
}