/* Search block */
.search_section {
	width: 100%;
	min-height: 52.5rem;

	padding-top: 4rem;
	padding-bottom: 10rem;

	background-color: $color_bg_1;

	@include bp($point_2) {
		display: none;
	}
}

.close_btn {
	display: none;
}

.open_search_block_mobile {
	
	&.search_section {
		display: block;
	}
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;


	min-height: 100%;
	height: 100%;

	padding: 0;

	.search_wrap {
		min-height: 100%;

		padding: 4.5rem 2rem 3.4rem;
	}

	.search_popular_queries__item {
    display: block;
	}

	.search_popular_queries__text {
    white-space: initial;
	}

	.search_popular_queries_w {
    margin-bottom: 3rem;
    height: 80vh;
    overflow: auto;
	}

	.button_wiev_more_queries {
		display: none;
	}

	.close_btn {
    position: absolute;
		top: 0;
		right: 0;
		z-index: 100;

		display: block;
    
		height: 6rem;
    width: 6rem;
		
		cursor: pointer;

		&::before, &::after {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 50%;
			height: 0.2rem;
			background: $white;
			transition: all 0.3s ease;
		}

		&:before {
			transform: rotate(45deg) translate(3rem, 1rem);
		}

		&:after {
			transform: rotate(-45deg) translate(-1rem, 3rem);
		}
	}
}

.search_wrap {
	max-width: 1064px;
	min-height: 385px;
	margin: 0 auto;

	padding: 4.5rem 16.4rem 3.4rem;

	background: $color_bg_2;
}

.search_header {
	font-size: 2.4rem;
	font-weight: 400;
	text-transform: uppercase;
	color: $color_text_white;

	margin-bottom: .4rem;
}

.search_input_w {
	position: relative;

	width: 100%;
	height: $search_input_height;

	margin-bottom: 3.4rem;
}

.search_input {
	width: 100%;
	height: 100%;

	font-size: 1.5rem;

	background: $white;
	color: $color_text_1;

	border: none;
	padding: 0 12rem 0 2rem;

	box-shadow: 10px 10px 20px -4px rgb(0, 0, 0, 0.2);
	-webkit-box-shadow: 10px 10px 20px -4px rgb(0, 0, 0, 0.2);
	-moz-box-shadow: 10px 10px 20px -4px rgb(0, 0, 0, 0.2);
}

.btn_search_wrapper {
	position: absolute;
	top: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: $search_input_height;
	height: $search_input_height;

	cursor: pointer;
}

.btn_search_settings {
	right: $search_input_height;
}

.btn_search_go {
	right: 0;
}

.search_icon_wrap {
	width: 1.8rem;
	height: 1.8rem;
}

.search_popular_queries_w {
	margin-bottom: 3.4rem;
}

.search_popular_queries__header {
	font-size: 1.7rem;
	line-height: 1.7rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05882rem;

	color: $white;

	margin-bottom: 1.7rem;
}

.search_popular_queries__list {
	position: relative;

	font-size: 1.5rem;
	line-height: 2.3rem;
	font-weight: 400;

	color: $white;
}

.search_popular_queries__item {
	position: relative;
	display: flex;

	padding-left: 4rem;
	margin-bottom: .8rem;

	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;

	&:hover {
		.search_popular_queries__text {
			text-decoration: underline;
		}

		.search_popular_queries__arrow_w {
			@extend %transition_transform;

			transform: translate(1rem, -50%);
		}
	}
}

.last_two_opacity {
	@include last(2) {
		opacity: .6;
	}

	@include last(1) {
		margin-bottom: 0;
		opacity: .25;
	}
}

.search_popular_queries__arrow_w {
	@extend %transition_transform;

	position: absolute;
	top: 50%;
	left: 0;

	width: 1.8rem;
	height: 1rem;

	fill: #fff;
	opacity: .5;

	transform: translate(0, -50%);
}

.search_popular_queries__text {
	margin-right: 1.6rem;
}

.search_popular_queries__region {
	opacity: .5;
}



@include bp($point_6) {}