//---------------------------------------------slider
$width_s: min(19.6rem, 13.61vw);
$width_l: min(65.6rem, 46vw);

.slider_section {
	position: relative;
	margin: 0 auto;
	max-width: $page_width;
	height: 78rem;
	overflow: hidden;

	color: $white;
}

.slider_header_block {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	max-width: 74rem;
	margin: 11.5rem 0 0 8rem;

	.slider_title {
		font-weight: 300;
		font-size: 6rem;
	}
	.slider_description {
		font-size: 1.8rem;
		line-height: 2.6rem;
	}
}

.slider_item_text_block {

	.slider_item_title {
		font-size: 3.2rem;
		font-weight: 300;
		line-height: 3.4rem;
		letter-spacing: 0.0625rem;
		text-transform: uppercase;
		white-space: nowrap;
	}

	.slider_item_description {
		font-size: 1.4rem;
		line-height: 2.4rem;

		height: 7rem;
		margin-bottom: 2.8rem;

		overflow: hidden;
	}

	.slider_item_link {
		@extend %transition_all;

		position: relative;
		z-index: 10;

		display: none;
    
    width: min-content;

		color: #fff;

		.icon_arrow_2 {
			width: 1.8rem;
			height: 1rem;
			fill:#fff;
		}

		&:hover {
			@extend %transition_all;

			padding-left: 1rem;
		}
	}
}

.slider_list {
	display: flex;
	height: 100%;
}

.slider_item {
	position: relative;

	padding: 58rem 3.2rem 6rem 3.2rem;

	width: $width_s;

	background: #fff;


}

.item1 {
	background: url($bg_item_1) no-repeat center center;
	background-size: cover;
}
.item2 {
	background: url($bg_item_2) no-repeat center center;
	background-size: cover;
}
.item3 {
	background: url($bg_item_3) no-repeat center center;
	background-size: cover;
}
.item4 {
	background: url($bg_item_4) no-repeat center center;
	background-size: cover;
}
.item5 {
	background: url($bg_item_5) no-repeat center center;
	background-size: cover;
}

.collapsed_block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.item1 & {
		background: url($bg_collaps_1) no-repeat center center;
		background-size: cover;
	}
	.item2 & {
		background: url($bg_collaps_2) no-repeat center center;
		background-size: cover;
	}
	.item3 & {
		background: url($bg_collaps_3) no-repeat center center;
		background-size: cover;
	}
	.item4 & {
		background: url($bg_collaps_4) no-repeat center center;
		background-size: cover;
	}
	.item5 & {
		background: url($bg_collaps_5) no-repeat center center;
		background-size: cover;
	}
}

.active_mod {
	width: $width_l;

	.slider_item__link {
		display: block;
	}

	&.slider_item .collapsed_block {
		background: transparent;
	}
}

@keyframes expand_width {
  0%   {width: 10rem;}
  100% {width: $width_l;}
}
