@import 'slider';

.slider_header_block {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	max-width: 74rem;
	margin: 11.5rem 0 0 8rem;

	color: #fff;

	.slider_title {
		font-weight: 300;
		font-size: 6rem;
	}

	.slider_description {
		font-size: 1.8rem;
		line-height: 2.6rem;
	}
}

.slider_item_text_block {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;

	margin-bottom: 16.6rem;
	padding-left: 2rem;

	color: #fff;

	transition: all .5s ease;
	will-change: transform;

	.slider_item_title {
		font-size: 2rem;
		font-weight: 300;
		line-height: 2.6rem;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
	}

	.slider_item_description {
		display: none;
	}

	.slider_item_link {
		display: none;
	}
}

.slick-current {

	.slider_item_text_block {
		margin-bottom: 6rem;
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}

	.slider_item_title {
		font-size: 3.2rem;
		line-height: 3.4rem;
		letter-spacing: 0.0625rem;
	}

	.slider_item_description {
		display: block;

		width: 100%;

		font-size: 1.4rem;
		line-height: 2.4rem;

		height: 7rem;
		margin-bottom: 1.4rem;

		overflow: hidden;
	}

	.slider_item_link {
		@extend %transition_all;

		display: block;
		width: min-content;

		color: #fff;

		.icon_arrow_2 {
			width: 1.8rem;
			height: 1rem;
			fill: #fff;
		}

		&:hover {
			@extend %transition_all;

			padding-left: 1rem;
		}
	}

	.slider_item_description,
	.slider_item_link {
		white-space: normal;
		opacity: 1;
		animation: show_text_below 1.2s;
		transform: none;
	}
}

.slider_item_description,
.slider_item_link {
	transform: translate(0, 20rem);
	opacity: 0;
}

/* DOTS */

.slick-dots {
	@extend %global_flex_block_row_wrap_center_center;

	position: absolute;
	bottom: 0;
	left: 0;

	justify-content: flex-start;

	margin-bottom: 25%;
	margin-left: 8rem;
	width: 100%;

	li {
		padding: 0 .3em;

		&.slick-active {
			button {
				background-color: $white;
			}
		}

		&:first-child {
			padding-left: 0;
		}
	}

	button {
		display: block;
		width: 0.6rem;
		height: 0.6rem;

		font-size: 0;

		border-radius: 50%;
		background-color: rgba(255, 255, 255, .3);

		cursor: pointer;

		&:hover,
		&:focus {
			background-color: $white;
		}

	}
}


/* ANIMATIONS */

@keyframes show_text_below {
	0% {
		transform: translate(0, 20rem);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}


/* MEDIA */

@media only screen and (max-width: $point_1) {
	.slider_header_block {
		max-width: 100%;
		margin: 11.5rem 8rem 0;
	}

	.slick-slide {
		.slider_item_text_block {
			white-space: nowrap;
			width: 100%;

			transform: rotate(-90deg);

			padding-bottom: 30%;
			margin-bottom: 0;
		}

		.slider_item_description {
			height: auto;
			margin-bottom: 0;
		}

		&.slick-current .slider_item_text_block {
			transform: none;
			padding-left: 8rem;
			padding-right: 8rem;
		}
	}

	.slick-current .slider_item_link {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -16px) rotate(90deg);
	}
}

@media only screen and (max-width: $point_5) {
	.slider_header_block {
		margin: 4.4rem 1rem 0;

		.slider_title {
			font-size: 3.6rem;
		}

		.slider_description {
			font-size: 1.4rem;
			line-height: 1.6;
			font-weight: 400;
		}
	}

	.slick-slide {
		&.slick-current .slider_item_text_block {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	.slick-dots {
		margin-left: 1rem;
	}

	.slider_item_text_block {
		.slider_item_title {
			font-size: 1.8rem;
			line-height: 2.6rem;

			margin-bottom: 0.4rem;
		}

		.slider_item_description {
			font-size: 1.2rem;
			line-height: 1.8rem;
			max-height: 9rem;
			overflow: hidden;
		}
	}
}

@media only screen and (max-width: $point_8) {
	.slider_header_block {
		margin-top: 2.4rem;
	}

	.slick-slide .slider_item_text_block {
		padding-bottom: 20%;
	}

	.slick-dots {
    margin-bottom: 15%;
	}
}
