//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-header: 13.2rem;
	--height-header-mobile: 6rem;
	--height-footer: 23rem;
	--gl-indent: 8rem;

	@include bp($point_1) {
		--gl-indent: 1rem;
	}
}

html {
	height: 100%;
	// font: 400 calc(100vw / 1920 * 10)/1.33 $font_1;
	font: 400 10px/1.33 $font_1;
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}
}

.wrapper {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

.base {
	width: 100%;
	position: relative;
	padding: calc(var(--height-header) - 1px) 0 0;
	background: #abbaba3d;

	flex: 1 0 auto;

	@include bp($point_3) {
		padding: calc(var(--height-header-mobile) - 1px) 0 0;
	}
}

a {
	text-decoration: none;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
	}

}

.content_wrap {
	max-width: $content_wrap;
	width: 98%;
	margin: 0 auto;
}

.elements_list {
	padding: 3rem;
}

img {
	// resize
	// width: 100%;
	height: 100%;

	// remove 3px gap below image
	vertical-align: bottom;
	line-height: 0;
}

//------------------------------------------------------------base styles###
