//------------------------------------------------------------layout
@mixin header_layout($height) {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: $height;

	font-size: 1rem;

	will-change: transform;

	@include z-index(header);
}

.header_desctop {
	@include header_layout(var(--height-header));
	@include bp($point_3) {
		display: none;
	}
}
.header_mobile {
	display: none;
	@include header_layout(var(--height-header-mobile));
	@include bp($point_3) {
		display: block;
	}
}
//------------------------------------------------------------layout###

//------------------------------------------------------------top line
.header_top_line {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);

	width: $page_width;
	height: 2px;

	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color_accent;
	}
}
//------------------------------------------------------------top line###

//------------------------------------------------------------imports
@import "blocks/header_desctop";
@import "blocks/header_mobile";
//------------------------------------------------------------imports###
